.feed {
  display: flex;
}

.feed div {
  margin: 0 auto;
  width: 250px;
}

.feed h1 {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: Verdana;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 10%;
}

.feed hr {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e1e1e1;
}

.new {
  width: 250px;
  margin-top: 40px;
}

.new img {
  width: 250px;
}

.new h2 {
  width: 250px;
  height: 39px;
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #585858;
}

.new h3 {
  width: 250px;
  height: 24px;
  font-family: Verdana;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #a4a4a4;
}

.new p {
  margin-top: 10px;
}

.newFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.newFooter p {
  color: #ff0000;
  cursor: pointer;
  margin-right: 45%;
  cursor: pointer;
}

.newFooter img {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: -10px;
  cursor: pointer;
  position: relative;
  bottom: 7px;
}

.jobs h2 {
  width: 250px;
  height: 39px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Verdana;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #585858;
}

.jobs img {
  margin-left: 10px;
}

.community {
  width: 20%;
  height: 95%;
  background-color: #e1e1e1;
}

.social-medias img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  position: relative;
  top: 5px;
  position: relative;
  top: 20px;
}

.comm-links img {
  width: 65%;
  margin-top: 40px;
  margin-left: 18%;
  cursor: pointer;
}

.twitter iframe {
  margin-left: 20px;
}
