.contact {
  width: 80%;
  height: 260px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px 0;
  /* border-radius: 20px; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #e1e1e1;
  position: relative;
  top: 50px;
  text-align: center;
}

.contact h1 {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: Verdana;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  font-size: 28px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.contact .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .content .email {
  margin-left: 5%;
  width: 50%;
  text-align: left;
}

.contact .content .type {
  width: 50%;
  text-align: right;
}

.contact .content .type h2 {
  font-size: 22px;
  color: #383838;
}

@media only screen and (max-width: 1000px) {
  .contact .content {
    width: 90%;
    margin: 0 auto;
  }

  .contact .content .type h2 {
    font-size: 14px;
    /* text-align: left; */
  }
  .contact .content .email p {
    font-size: 13px;
    text-align: left;
  }
}
