.parallax {
  /* The image used */
  background-image: url("../../assets/bits.jpg");
  background-color: #202124;

  /* height: 100%; */
  width: 100%;
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 700px) {
  .parallax {
    /* Set a specific height */
    height: 625px;
  }
}

.parallax .content {
  background-color: rgba(0, 0, 0, 0.8);
  height: 60%;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}
.parallax .content div {
  height: 90%;
  margin: auto;
}

.parallax .content div .buttons {
  margin-top: 50px;
}

.parallax .content img {
  height: 30%;
  /* width: 30%; */
}

@media only screen and (max-width: 1000px) {
  .parallax .content {
    height: 60%;
  }

  .parallax .content h1 {
    font-size: 18px;
  }

  .parallax .content p {
    font-size: 14px;
  }

  .parallax .content .buttons {
    margin-top: 20px;
  }

  .parallax .content .buttons button {
    margin-bottom: 10px;
  }
}
